* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto/Roboto-Regular.ttf")
    format("truetype");
}
body {
  margin: 0 !important;
  background: #272a2d !important;
  color: aliceblue !important;
}
.card {
  background-color: #272a2d;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
