* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto/Roboto-Regular.ttf")
    format("truetype");
}
body {
  margin: 0;
  background: #272a2d;
  color: aliceblue;
}
