.page-title {
  font-size: 32px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 18px;
}

.button-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 128px;
}

.title {
  margin: 45px;
  font-size: 32px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.button {
  color: white;
  width: 300px;
  margin: 12px;
}
.image-container {
  max-width: 300px;
  margin: 36px 10px;
}
.image-container img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
.pie-chart-container {
  width: 300px;
  height: 300px;
  margin: 36px 10px;
}
.result-text {
  font-size: 20px;
  margin: 18px 0px 36px 0px;
}
.remind-text {
  margin: 10px 0px;
}
.card-body {
  background-color: #272a2d;
  border-radius: 6px;
  border-color: black;
}
.feedback-text {
  font-size: small;
  color: gray;
}
